.about{
    text-align: center;
    line-height: 2;
}
.branches li{
    margin: auto;
    text-align: center;
}

@media screen and(max-width: 680px) {
    .branches{
        margin: auto;
    }

    .branches li{
        text-align: left;
    }
}